/* MIBD blue #083A81 */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('../img/wcp7.png');
    /* background-color: #fffff0 !important;  */
    background-repeat:no-repeat; /* Ensures the image repeats seamlessly */
    background-position: center;/*0 0; /* Begins the image tiling from the top left */
    background-size: cover; /* contain / auto;*/
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    background-color: transparent; /* Removes white background fields */
    -webkit-text-size-adjust: auto; /*better readability on mobile devices within WebKit browsers*/
    -ms-text-size-adjust: 100%;
    text-size-adjust: auto;
}
h1 {
    font-family: "Favorit", sans-serif ;
    font-size: 3rem;
    font-weight: bold;
    color: #000000;
}
h2 {
    font-family: 'Favorit', sans-serif ; 
    font-variant-caps: all-small-caps;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}
p {
    font-family: "Favorit" ;
    font-size: 1rem;
    color: #272727; /* Slightly lighter color for paragraph text */
}
/*font-face rules*/
@font-face {
    font-family: 'Favorit';
    src: url('../fonts/Favorit_Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 60px;
    position: fixed;
    background-color: #ffffff00; /* Semi-transparent for blur effect */
    backdrop-filter: blur(8px); /* Adds a blur effect */
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    padding: 0;
    margin: 0 -20px;
    z-index: 1000;
}
header img {
    max-height: 50px;
}

/*More interactive nav bar*/
.navbar {
    /*background-color: rgba(214, 212, 212, 0.5) !important; */
    position: fixed;
    height: 60px;
    display: flex;
    /* padding: 0px 0px; */ 
    /* border-radius: 5px;  */
    right: 1rem;

    align-items: center; /* Centers list items vertically within the navbar */

}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: larger;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}
.navbar li {
    margin: 0 10px; /* Uniform spacing between buttons */
}
.navbar a {
    color: #000000; /* Dark gray text for contrast */
    text-decoration: none; /* Remove underline */
    padding: 10px 15px; /* Add padding for a button-like feel */
    border-radius: 4px; /* Slight rounding of corners */
    transition: background-color 0.3s, color 0.3s;
    outline: none; /* Remove default outline */
    box-shadow: none; /* Remove any shadow */

    display: inline-block; /* Allows block-level styling (consistent height/width) */
}
.navbar a:hover {
    background-color: rgba(0, 0, 0, 1); /* Light black on hover */
    color: #ffffff; /* Black text on hover */
    border: none; /* Ensure no border */

}






/* Hover effect for entire list item */
.container {
    padding: 0 0; 
    margin: auto;
    text-align: center;    
}
.hover-list {
    list-style-type: none;
    padding-left: 0;

}
.hover-list li {
    margin: 12px 0; /* Add margin between list items */
    padding: 8px; /* Add some padding for visual aesthetics */
    background-color: #c8c8c896; /* Light background for list items */
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 0.3s; /* Smooth hover transition */
    font-variant-caps: all-small-caps;
    font-weight: bolder;
}
.hover-list li:hover {
    background-color: rgba(200,200,200,1); /* Slightly darker on hover */
}


.hero-section {
    display: flex;
    font-size: 1.5vw; /* Use viewport width units for responsiveness */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    text-align: center;
    background: transparent;
    margin-top: 5rem;
    
 }

.logo-container {
    width: 80%;
    max-width: 800px;
    margin: 1rem auto;
}

.hero-overlay {
    font-family: "Favorit" ;
    transition: background-color 0.3s ease;
}



.cta-button {
    padding: 1rem 2rem;
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e65c00;
    color: black;
}

.content {
    padding: 1rem;
}

.section {
    padding: 2rem 2rem;
    text-align: center;
}



#platforms-section {
    overflow: hidden; /* Hide overflow to avoid showing images outside the container */
    position: relative;
    width: 100%; /* Make the section take full width */
    height: 134px; /* Set height to match the image height */
}
.scrolling-image-container {
    display: flex; 
    position: absolute;
    width: calc(2356px * 2); /* Width for two images side by side */
    animation: scroll-belt 10s linear infinite; /* Animation for scrolling */
}
.scrolling-image {
    width: 2356px; /* Each image width */
    height: 134px; /* Match the image's height */
}
@keyframes scroll-belt {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-2356px); /* Move left by the width of one image */
    }
}



.services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 20px;
}
.service-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-sizing: border-box;
    /*flex: 0 0 100%; /* Default full width */ 
    max-width: 25rem; /* Set max width to control overall size */
    padding: 0; /* Consider reducing padding or adjust */
    margin: 0.5rem; /* Equal margins for spacing comfortably */
}
.service-item::before {
    content: "";
    display: block;
    padding-top: 75%; /* Maintain 4:3 Aspect Ratio */
}

.service-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 85%;
    object-fit: cover; /* Ensures filling container without distortion */
    border-radius: 8px;
    margin: 0;
    max-width: 90%; /* Prevents image overflow beyond container */
}

/* Responsive breakpoints */
@media (min-width: 992px) { /* Large screens */
    .service-item {
        flex: 0 0 30%; /* Each will take approximately 1/3 of row */
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Medium screens */
    .service-item {
        flex: 0 0 45%; /* Adjust to about half per row */
    }
}



.service-item p {
    position: absolute;
    bottom: 60px; /* adjust as needed */
    left: 10px; /* adjust as needed */
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.6); /* semi-transparent background for better readability */
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1.5rem;
    max-width: calc(100% - 20px); /* to ensure text doesn't overflow */
}


.service-item:hover {
    transform: scale(1.2);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9); 
    padding-top: 100px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 800px;
    transition: transform 0.3s ease; /* Smooth animation for better UX */
}

/* The Modal Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbbbbb;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Navigation buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    width: auto;
    height: 50px; /* Larger button size for visibility */
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px; /* Larger text */
    transition: background-color 0.6s ease;
    background-color: rgba(0,0,0,0.5);  /* Transparent background for visibility */
    border-radius: 5px;
    cursor: pointer;
}

.next {
    right: 10px; /* Adjust for closer positioning to the image */
    border-radius: 5px 0 0 5px; /* Rounded corners */
}

.prev {
    left: 10px; /* Adjust for closer positioning to the image */
    border-radius: 0 5px 5px 0; /* Rounded corners */
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.about-text {
    max-width: 800px;
    text-align: center;
    margin-bottom: 2rem;
}

.about-image img {
    max-width: 100%;
    border-radius: 8px;
}








.card {
    background-color: rgba(240,240,240,0.8);
    width: 100%;
    max-width: 400px;/*calc(33.33% - 1rem); /* Responsive, maintains 3 cards per row */
    margin: 0.5rem; /* To align with spacing */
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease, height 0.3s ease;
    overflow: hidden; /* Hide extra content until hover */
    min-height: 250px; /* Set initial uniform height */
}
.card-text{
    color: #d84315; font-size: 2.5vh;
}
.card-title{
    font-size: 3vh;
}
.card:hover {
    transform: translateY(-15px) translateX(5px);
    box-shadow: -5px 15px 30px rgba(0, 0, 0, 1) ;
    transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
    min-height: 320px; /* Increase height to reveal hidden text */
}

.card img {
    border-radius: 90%;
    width: 150px ;
    height: 150px ;
    transition: transform 0.3s ease;
}

.video-container video:hover {
    /* Transform can be applied if you want hover effects to play on video overlay */
    transform: scale(1.1);
}



.card h3 {
    margin: 1rem 0;
}

.card p.text-muted {
    color: #ffcc00;
    display: none; /* Initially hide additional text */
}

.card:hover p.text-muted {
    display: block; /* Show text on hover */
}



/* In numbers section */
#in-numbers {
    padding: 3rem 0; /* Section padding */
    text-align: center;
}

.numbers-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers cards */
    gap: 20px; /* Adds space between cards */
}

.number-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background: #f0f0f0;
    padding: 1rem;
    width: 100%;
    max-width: 250px;
    flex: 0 0 22%; /* Around 4 per row */
    text-align: center; /* Center text and images within card */
}

.number-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px; /* Rounded corners for the card */
    background: #f0f0f0;
    padding: 1rem;
    width: 100%;
    max-width: 250px;
    flex: 0 0 22%; /* Around 4 per row */
    text-align: center;
    border: 2px solid black; /* Black border around the card */
}

.counter {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}





.footer-container {
    display: flex;
    justify-content: space-between; /* Space between logo and content */
    align-items: center; /* Center items vertically */
    padding: 0;
    background-color: #083A81; 
}

.footer-logo img {
    min-width: 250px;
    max-width: 400px; /* Adjust logo size */
}

.footer-content {
    text-align: right;
    color: white; /* Text color for contrast */
}

.contact p {
    margin: 0; /* Remove default margin for p elements */
    padding-bottom: 1rem;
}

.social-media img {
    margin-left: 10px; /* Space between icons if there are multiple */
}




.logo-background {
    width: 100%;
    opacity: 0.1; 
} 
#logoto {
    display: block;
    width: 100%;
    height: auto; 
}
.logo-part {
    stroke: black;
    stroke-width: 8;
    fill: none;
    stroke-linecap: round;
    stroke-dasharray: 0 400;
    stroke-dashoffset: 10;
    animation: draw 2s linear forwards, increaseStrokeWidth 6s ease-in-out 3s forwards;
}
@keyframes draw {
    from {
        stroke-dasharray: 0 400;
        stroke-dashoffset: 0;
    }
    to {
        stroke-dasharray: 400 0;
        stroke-dashoffset: 0;
    }
}
@keyframes increaseStrokeWidth {
    from {
        stroke-width: 8;
    }
    to {
        stroke-width: 20;
    }
}
.path-1, .path-2, .path-3, .path-4, .path-5,
.path-6, .path-7, .path-8, .path-9, .path-10, .path-11 {
    animation-delay: 0.5s;
}
.circle {
    animation-delay: 1.75s;
} 


