---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';

const posts = await Astro.glob('./blog/*.md');
---

<Layout title="My Blog">
  <h1 class="text-4xl font-bold text-gray-900 mb-8">Latest Posts</h1>
  <div class="space-y-8">
    {
      posts.map((post) => (
        <BlogPost
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          pubDate={new Date(post.frontmatter.pubDate)}
          url={post.url}
        />
      ))
    }
  </div>
</Layout>